agate==1.9.1 ; python_full_version == "3.12.0"
annotated-types==0.7.0 ; python_full_version == "3.12.0"
attrs==24.2.0 ; python_full_version == "3.12.0"
babel==2.16.0 ; python_full_version == "3.12.0"
certifi==2024.8.30 ; python_full_version == "3.12.0"
charset-normalizer==3.4.0 ; python_full_version == "3.12.0"
click==8.1.7 ; python_full_version == "3.12.0"
colorama==0.4.6 ; python_full_version == "3.12.0"
daff==1.3.46 ; python_full_version == "3.12.0"
dbt-adapters==1.8.0 ; python_full_version == "3.12.0"
dbt-common==1.12.0 ; python_full_version == "3.12.0"
dbt-core==1.8.7 ; python_full_version == "3.12.0"
dbt-extractor==0.5.1 ; python_full_version == "3.12.0"
dbt-postgres==1.8.2 ; python_full_version == "3.12.0"
dbt-semantic-interfaces==0.5.1 ; python_full_version == "3.12.0"
deepdiff==7.0.1 ; python_full_version == "3.12.0"
idna==3.10 ; python_full_version == "3.12.0"
importlib-metadata==6.11.0 ; python_full_version == "3.12.0"
isodate==0.6.1 ; python_full_version == "3.12.0"
jinja2==3.1.4 ; python_full_version == "3.12.0"
jsonschema-specifications==2024.10.1 ; python_full_version == "3.12.0"
jsonschema==4.23.0 ; python_full_version == "3.12.0"
leather==0.4.0 ; python_full_version == "3.12.0"
logbook==1.5.3 ; python_full_version == "3.12.0"
markupsafe==3.0.2 ; python_full_version == "3.12.0"
mashumaro[msgpack]==3.14 ; python_full_version == "3.12.0"
minimal-snowplow-tracker==0.0.2 ; python_full_version == "3.12.0"
more-itertools==10.5.0 ; python_full_version == "3.12.0"
msgpack==1.1.0 ; python_full_version == "3.12.0"
networkx==3.4.2 ; python_full_version == "3.12.0"
ordered-set==4.1.0 ; python_full_version == "3.12.0"
packaging==24.2 ; python_full_version == "3.12.0"
parsedatetime==2.6 ; python_full_version == "3.12.0"
pathspec==0.12.1 ; python_full_version == "3.12.0"
protobuf==4.25.5 ; python_full_version == "3.12.0"
psycopg2-binary==2.9.10 ; python_full_version == "3.12.0"
pydantic-core==2.23.4 ; python_full_version == "3.12.0"
pydantic==2.9.2 ; python_full_version == "3.12.0"
python-dateutil==2.9.0.post0 ; python_full_version == "3.12.0"
python-slugify==8.0.4 ; python_full_version == "3.12.0"
pytimeparse==1.1.8 ; python_full_version == "3.12.0"
pytz==2024.2 ; python_full_version == "3.12.0"
pyyaml==6.0.2 ; python_full_version == "3.12.0"
referencing==0.35.1 ; python_full_version == "3.12.0"
requests==2.32.3 ; python_full_version == "3.12.0"
rpds-py==0.21.0 ; python_full_version == "3.12.0"
six==1.16.0 ; python_full_version == "3.12.0"
sqlparse==0.5.1 ; python_full_version == "3.12.0"
text-unidecode==1.3 ; python_full_version == "3.12.0"
typing-extensions==4.12.2 ; python_full_version == "3.12.0"
tzdata==2024.2 ; platform_system == "Windows" and python_full_version == "3.12.0"
urllib3==2.2.3 ; python_full_version == "3.12.0"
zipp==3.21.0 ; python_full_version == "3.12.0"
